<html>
<head><title>BeanShell Test Servlet</title></head>
<body>

<h2>BeanShell Version</h2>
<pre>
<!-- TEMPLATE-version -->
</pre>

<h2>Evaluation Text</h2>
<pre>
<!-- TEMPLATE-text -->
</pre>

<h2>Return Value</h2>
<pre>
<!-- TEMPLATE-return -->
</pre>

<h2>Output</h2>
<pre>
<!-- TEMPLATE-output -->
</pre>

</body>
<html>
